/* General Page Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #333;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar ul li:hover {
  background: #575757;
}

/* Header Styling */
.header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

/* Footer Styling */
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  margin-left: 40px;
  bottom: 0;
  width: 100%;
}

/* Main Content Layout */
.app-container {
  display: flex;
}

.content-container {
  margin-left: 250px; /* Adjusts content area due to fixed sidebar */
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Pushes footer to the bottom */
  padding: 20px;
  margin-left: 30%;
  width: 50%;
}

/* Form Input */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  /* margin-left: 30%;
  width: 50%; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
button {
  background: rgb(1, 34, 32);
  color: white;
  border: none;
  padding: 10px;
  /* margin-left: 30%; */
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: rgb(10, 5, 6);
}

/* Prediction Box */
.prediction-box {
  background: #eafaf1;
  color: #2d7a4b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Error Box */
.error-box {
  background: #faeaea;
  color: #a12b2b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.dashboard-container {
  padding: 10px;
  background: #f9f9f9;
  border-radius: 8px;
}

input {
  margin-bottom: 20px;
}

button {
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

